<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

</style>

<div ng-if="!pokemonLoaded">
    <span class="glyphicon glyphicon-refresh"></span>
    Loading...
</div>

<form name="pokemonForm" novalidate ng-if="pokemonLoaded">
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" ng-model="pokemon.name" type="text" placeholder="Имя" required>
    </div>
    <div class="form-group">
        <label>Вес</label>
        <input class="form-control" ng-model="pokemon.weight" type="text" placeholder="Вес">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="pokemon.is_default">
            Основной
        </label>
    </div>
    <button type="submit" class="btn btn-warning" ng-click="editPokemon(pokemon)" ng-disabled="pokemonForm.$invalid">Изменить</button>
</form>

<div class="alert alert-success" role="alert" ng-if="editSuccess">Ты очень изменился, покемон {{pokemon.id}}!</div>
<div class="alert alert-danger" role="alert" ng-if="editError">Ты слишком хорош, чтобы меняться!</div>